<!--*ngIf="router.url=='adminform'"-->

<!--<mat-list role="list" class="left_nav"  >-->
<!--  <a mat-list-item role="listitem">Dashboard</a>-->
<!--  <a mat-list-item role="listitem">Home</a>-->
<!--  <a mat-list-item role="listitem">Home</a>-->
<!--  <a mat-list-item role="listitem">Home</a>-->
<!--  <a mat-list-item role="listitem"  [routerLink]="['/adminlist']">Admin List</a>-->

<!--  <a mat-list-item role="listitem" [routerLink]="['/adminform']">Add Admin</a>-->
<!--  <a mat-list-item role="listitem">Home</a>-->
<!--  <a mat-list-item role="listitem">Home</a>-->
<!--  <a mat-list-item role="listitem">Home</a>-->

<!--</mat-list>-->
