<mat-card class="example-card adminmodalform">
  <mat-card-header>
    <mat-card-title>Go to Admin Modal Form</mat-card-title>

  </mat-card-header>
  <mat-card-content >
    <form #adminForm  >
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>

      <button mat-flat-button color="primary">Add </button>
    </form>
  </mat-card-content>

</mat-card>