<app-main-nav>

  <mat-toolbar class="breadcrumb"> <a style="text-decoration: none;"> Joqu List </a></mat-toolbar>
  <div class="pendinglist">

    <lib-listing    *ngIf="joquprocesslist!=null && joquprocesslist.length>0"
                    [datasource]="joquprocesslist" [skip]="joquprocesslist_skip"
                    [modify_header_array]="joquprocesslist_modify_header1"
                    [statusarr]="statusarray"
                    [apiurl]="apiservice.domain"
                    [jwttoken]="apiservice.jwttoken"
                    [sourcedata]="tablename">
    </lib-listing>
    <h3 *ngIf="joquprocesslist==null || joquprocesslist.length==0">No records found</h3>
  </div>
</app-main-nav>
