/*
.mat-card{
    display: block;
    text-align: center;
    margin-top: 121px;
    width: auto;
    border: none;
    box-shadow: none;
    overflow: hidden;
    max-width: 100%;
    margin: 119px auto;
}

*/
.login_bg{
    background: #000!important;
    padding: 0!important;
    margin: 0!important;

}
