<app-main-nav>
    <mat-card class="ad_audiodeadlinecontent_block1body">

        <mat-card class="ad_audiodeadlinecontent_block1body_wrapper">

            <mat-card-content class="ad_audiodeadlinecontent_block1body_1st">
                <span><img src="../../assets/images/adlogo.png" class="adlogo"></span>
                <h2>WE ARE AUDIODEADLINE <sup>We are created by artists, for artists</sup></h2>
                <p>Our motto is All Rise Together (ART) – and we take pride in the fact that our event is designed to helps artists, fans and other music enthusiasts move unilaterally in one single direction. Comprised of music lovers and artists, our mission is to showcase the magical moments of musical creativity - the good, the bad, and the inspiring. Fans will finally get to be witness the artist’s experience as they go through the emotional mastery of song production! Regardless of who you are, or what you’re doing, we would love for
                    you to be part of our music industry revolution!</p>



            </mat-card-content>
            <mat-card-content class="ad_audiodeadlinecontent_block1body_2nd"><img src="../../assets/images/bnnrimg1.png"></mat-card-content>
            <mat-card-content class="ad_audiodeadlinecontent_block1body_3rd">

                <img src="../../assets/images/icon1.png">
                <button mat-button>Learn More</button>

            </mat-card-content>



        </mat-card>
    </mat-card>

    <mat-card class="ad_audiodeadlinecontent_block2body">

        <mat-card class="ad_audiodeadlinecontent_block2body_wrapper">

            <mat-card-content class="ad_audiodeadlinecontent_block2body_1st">
                <span><img src="../../assets/images/newjoqulogo.png" class="newjoqulogo"></span>
            </mat-card-content>

            <mat-card-content class="ad_audiodeadlinecontent_block2body_2nd">

                <h2>A powerful fan engagement platform</h2>
                <p><span>Joqu is now leveraging social influencer network to grow to bring in the fans!
                Social influence marketing (also known as influencer marketing)= A relatively new form of marketing that utilizes the social influence of certain individuals to impact consumer behavior. Social influencers are the key to a successful marketing campaign and increasing brand exposure as well as sales. Influencers Value Authenticity Just as Much as Brands Do.</span></p>

            </mat-card-content>

            <mat-card-content class="ad_audiodeadlinecontent_block2body_3rd">

                <img src="../../assets/images/newicon2.png">
                <button mat-button>Learn More</button>

            </mat-card-content>

        </mat-card>
    </mat-card>
<mat-card class="ad_profileblockbody">
    <mat-card-subtitle class="ad_profileblockwrapper">
    <mat-card-content class="ad_profileblock_left">

        <mat-card-content class="ad_profileblock_left_big"> <img mat-card-image src="../../assets/images/admin_blocknewimg.jpg"></mat-card-content>
        <mat-card-content class="ad_profileblock_left_small">
            <ul>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>
                <li><span><img src="../../assets/images/admin_blocknewimg.jpg"></span></li>

            </ul>

        </mat-card-content>



    </mat-card-content>
    <mat-card-content class="ad_profileblock_right">

       <h2>Sandra Sago</h2>

        <mat-card-content class="ad_profileblock_modeldetail"> <label>NAME:</label><span>SANDRA SAGO</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>LOCATION:</label><span>LOS ANGELES</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>HEIGHT:</label><span>5.5</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>WEIGHT:</label><span>160</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>BUST:</label><span>36D</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>WAIST:</label><span>28</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <label>HIPS:</label><span>45</span> </mat-card-content>
        <mat-card-content class="ad_profileblock_modeldetail"> <span>(Arabic)</span> </mat-card-content>

        <h3>  <a href="https://www.instagram.com/thearabianprincess/" target="_blank"><img src="../../assets/images/insta-black-white_icon.png"><span>@thearabianprincess</span></a></h3>

        <button mat-button>Modify</button>



    </mat-card-content>




</mat-card-subtitle>

</mat-card>










</app-main-nav>