<app-main-nav>
  <div class="order-bg">
    <mat-toolbar-row color="primary" class="order_wrapper_header">
      <mat-toolbar> Order Details</mat-toolbar>
    </mat-toolbar-row>

    <mat-card class="view_order">
      <mat-card-header>
        <mat-card-title>View Order</mat-card-title>
      </mat-card-header>
      <mat-card-content class="order_view1">
        <!--<table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">-->
        <!--<ng-container matColumnDef="position">-->
        <!--<th mat-header-cell *matHeaderCellDef> User </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.firstname}} </td>-->
        <!--</ng-container>-->
        <!--<ng-container matColumnDef="name">-->
        <!--<th mat-header-cell *matHeaderCellDef> Order ID </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
        <!--</ng-container>-->
        <!--<ng-container matColumnDef="weight">-->
        <!--<th mat-header-cell *matHeaderCellDef> Date Added </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.weight}} </td>-->
        <!--</ng-container>-->
        <!--<ng-container matColumnDef="symbol">-->
        <!--<th mat-header-cell *matHeaderCellDef> Order Source </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
        <!--</ng-container>-->

        <!--<tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>-->
        <!--<tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>-->

        <!--</table>-->


        <mat-card-content class="one">
          <mat-card-title>User</mat-card-title>
          <mat-card-subtitle> {{orderdetails.firstname}} {{orderdetails.lastname}}</mat-card-subtitle>
        </mat-card-content >
        <mat-card-content class="two">
          <mat-card-title>Order ID</mat-card-title>
          <mat-card-subtitle> {{orderdetails._id}}</mat-card-subtitle>
        </mat-card-content>

        <mat-card-content class="three">
          <mat-card-title>Date Added</mat-card-title>
          <mat-card-subtitle> {{orderdetails.added_time}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-content class="four">
          <mat-card-title>Order Source</mat-card-title>
          <mat-card-subtitle> {{orderdetails.source_name}}</mat-card-subtitle>
        </mat-card-content>
      </mat-card-content>
    </mat-card>

    <mat-card class="view_order orderdetails">
      <mat-card-header>
        <mat-card-title>Order Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="orderdetailsarr" class="mat-elevation-z8">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>
          <ng-container matColumnDef="categoryname">
            <th mat-header-cell *matHeaderCellDef> Product Category </th>
            <td mat-cell *matCellDef="let element"> {{element.categoryname}} </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> QTY </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Unit Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
          <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.subtotal.toFixed(2)}} </td>
          </ng-container>
          <ng-container matColumnDef="subtotal1">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let transaction"> </td>
            <td align="right" colspan="4" mat-footer-cell *matFooterCellDef> <span class="sub_item_space"> <b>Subtotal</b></span> </td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let transaction"> </td>
            <td mat-footer-cell *matFooterCellDef> <b> ${{orderdetails.subtotal.toFixed(2)}}</b> </td>
          </ng-container>
          <ng-container matColumnDef="shipping_&_Handling">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let transaction"> </td>
            <td align="right" colspan="4" mat-footer-cell *matFooterCellDef> <span class="sub_item_space"> <b>Shipping & Handling</b></span> </td>
          </ng-container>
          <ng-container matColumnDef="total2">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let transaction"> </td>
            <td mat-footer-cell *matFooterCellDef> <b> ${{orderdetails.shipping}}</b> </td>
          </ng-container>
          <ng-container matColumnDef="tax">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let transaction"> </td>
            <td align="right" colspan="4" mat-footer-cell *matFooterCellDef> <span class="sub_item_space"> <b>Tax</b></span> </td>
          </ng-container>
          <ng-container matColumnDef="total3">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let transaction"> </td>
            <td mat-footer-cell *matFooterCellDef> <b> ${{orderdetails.tax}}</b> </td>
          </ng-container>

          <ng-container matColumnDef="total4">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let transaction"> </td>
            <td align="right" colspan="4" mat-footer-cell *matFooterCellDef> <span class="sub_item_space"> <b>Total</b></span> </td>
          </ng-container>
          <ng-container matColumnDef="total5">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let transaction"> </td>
            <td mat-footer-cell *matFooterCellDef> <b> ${{orderdetails.total}}</b> </td>
          </ng-container>




          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="['subtotal1', 'total']; "></tr>
          <tr mat-footer-row *matFooterRowDef="['shipping_&_Handling', 'total2']; "></tr>
          <tr mat-footer-row *matFooterRowDef="['tax', 'total3']; "></tr>
          <tr mat-footer-row *matFooterRowDef="['total4', 'total5']; "></tr>

        </table>
      </mat-card-content>
    </mat-card>

    <!--end order details-->


    <mat-card class="view_order billing_wrapper ">
      <mat-card-header>
        <mat-card-title>billing</mat-card-title>
      </mat-card-header>
      <mat-card-content class="billing_details">
        <mat-card-content>
          <h2>Billing adress</h2>
          <mat-list>
            <mat-list-item><span> FirstName:</span> {{orderdetails.firstname}} </mat-list-item>
            <mat-list-item><span> LastName:</span>{{orderdetails.lastname}} </mat-list-item>
            <mat-list-item><span> Address line1:</span> {{orderdetails.address}} </mat-list-item>
            <mat-list-item><span> City:</span> {{orderdetails.city}} </mat-list-item>
            <mat-list-item><span> Region:</span> {{orderdetails.state}} </mat-list-item>
            <mat-list-item><span> Country:</span> {{orderdetails.country}} </mat-list-item>
            <mat-list-item><span> Postal Code:</span> {{orderdetails.zip}} </mat-list-item>
            <mat-list-item><span> Email:</span><span class="content"> {{orderdetails.email}}</span> </mat-list-item>
            <mat-list-item><span> Phone:</span> {{orderdetails.phone}} </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-content>
          <h2>Shipping adress</h2>
          <mat-list>
            <mat-list-item><span> First Name:</span> {{orderdetails.ship_firstname}} </mat-list-item>
            <mat-list-item><span> Last Name:</span>{{orderdetails.ship_lastname}} </mat-list-item>
            <mat-list-item><span> Address Line 1:</span> {{orderdetails.ship_address}} </mat-list-item>
            <mat-list-item><span> City:</span> {{orderdetails.ship_city}} </mat-list-item>
            <mat-list-item><span> Region:</span> {{orderdetails.ship_state}} </mat-list-item>
            <mat-list-item><span> Country:</span> {{orderdetails.ship_country}} </mat-list-item>
            <mat-list-item><span> Postal Code:</span> {{orderdetails.ship_zip}} </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-content>
          <h2>Card details</h2>
          <mat-list>
            <mat-list-item><span> Card Number:</span> ************{{orderdetails.card_number}} </mat-list-item>
            <mat-list-item><span> Card Exp Mo:</span>{{orderdetails.card_exp_date}} </mat-list-item>
            <mat-list-item><span> Card Type:</span> {{orderdetails.card_type}} </mat-list-item>
          </mat-list>
        </mat-card-content>

      </mat-card-content>
    </mat-card>


  </div>






</app-main-nav>