<!--<mat-card class="mat-card">
  <mat-card-title>Forgate Password</mat-card-title>
  &lt;!&ndash;<mat-card-subtitle>Welcome back</mat-card-subtitle>&ndash;&gt;



  <mat-card-subtitle [formGroup]="myForm" (autocomplete)="on">

    <mat-form-field>
      <input matInput placeholder="Email id" [formControl]="myForm.controls['email']" >
      <span  *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">Email field can not be blank</span>
    </mat-form-field>
    <br>
    <button mat-button [disabled]="!myForm.valid" (click)="forgatPassword()" color="primary">Forgate Password</button>


  </mat-card-subtitle>
</mat-card>-->



<mat-card class="s_getmyoffer">

  <img src="../../assets/images/shaterblockLogo.png" alt="#" class="s_shatter_logo" style="box-shadow: none;">

  <mat-card-content class="s_getmyoffer_login_wrapper">
    <mat-card-subtitle [formGroup]="myForm">

      <h2>Forget Password</h2>
      <!--<p>welcome back!</p>-->
      <span class="error" *ngIf="errormg!=''">{{errormg}}</span>

      <mat-form-field class="form-group">
        <input matInput placeholder="Email" [formControl]="myForm.controls['email']" >
        <span  *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">Email field can not be blank</span>
        <span></span>
      </mat-form-field>

      <!--<mat-form-field class="form-group">
        <input matInput placeholder="Password" type="password" [formControl]="myForm.controls['password']" >
        <span  *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">Password field can not be blank</span>
      </mat-form-field>-->
      <mat-card-content >
        <button mat-button (click)="forgetPassword()" class="s_getmyoffer_login_button"  >Send Email</button>
      </mat-card-content>

      <!--<mat-card-content class="form-group-forgetPass">
        <button mat-button (click)="onForgetPassword()"  class="shatter_block_forgetPass">forget Password?</button>
      </mat-card-content>-->




    </mat-card-subtitle>
  </mat-card-content>

</mat-card>
