<app-main-nav>
  <mat-card class="adminform" *ngIf="show==1 || joqu_status == null;else elseblock">
    <mat-card-header>
      <mat-card-title>User Information Form</mat-card-title>

    </mat-card-header>
    <mat-card-content >
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="cdk-visually-hidden">
          <input matInput placeholder="Id" formControlName="shatterblok_user_id">
        </mat-form-field>
        <mat-form-field class="cdk-visually-hidden">
          <input matInput placeholder="joqu_status" formControlName="status">
        </mat-form-field>
        <mat-form-field>
          <input [class.is-invalid]="myForm.controls['firstname'].invalid && myForm.controls['firstname'].touched" matInput placeholder="First Name" formControlName="firstname" (blur)="inputblur('firstname')">
          <span  *ngIf="!myForm.controls['firstname'].valid && myForm.controls['firstname'].touched">firstname field can not be blank</span>
        </mat-form-field>

        <mat-form-field>
          <input [class.is-invalid]="myForm.controls['lastname'].invalid && myForm.controls['lastname'].touched" matInput placeholder="Last Name" formControlName="lastname">
          <span  *ngIf="!myForm.controls['lastname'].valid && myForm.controls['lastname'].touched">lastname field can not be blank</span>
        </mat-form-field>

        <mat-form-field>
          <input [class.is-invalid]="myForm.controls['age'].invalid && myForm.controls['age'].touched" matInput placeholder="Age" formControlName="age">
          <span  *ngIf="!myForm.controls['age'].valid && myForm.controls['age'].touched">Age field can not be blank</span>
        </mat-form-field>

        <mat-form-field>
          <input [class.is-invalid]="myForm.controls['phone'].invalid && myForm.controls['phone'].touched" matInput placeholder="Phone" formControlName="phone">
          <span  *ngIf="!myForm.controls['phone'].valid && myForm.controls['phone'].touched">Phone field can not be blank</span>
        </mat-form-field>

        <mat-form-field>
          <!--<input matInput placeholder="Input" formControlName="email">-->
          <input [class.is-invalid]="myForm.controls['email'].invalid && myForm.controls['email'].touched" matInput placeholder="Email" formControlName="email" (blur)="inputblur('email')" readonly>
          <span  *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">Email field can not be blank</span>
        </mat-form-field>

        <mat-form-field>
          <input [class.is-invalid]="myForm.controls['city'].invalid && myForm.controls['city'].touched" matInput placeholder="City" formControlName="city">
          <span  *ngIf="!myForm.controls['city'].valid && myForm.controls['city'].touched">City field can not be blank</span>
        </mat-form-field>

        <mat-form-field>
          <mat-select [class.is-invalid]="myForm.controls['state'].invalid && myForm.controls['state'].touched" placeholder="Select State" formControlName="state">
            <mat-option *ngFor="let item of stateslist" value="{{item.abbreviation}}">{{item.name}}</mat-option>
          </mat-select>
          <span  *ngIf="!myForm.controls['state'].valid && myForm.controls['state'].touched">State field can not be blank</span>
        </mat-form-field>
        <mat-form-field>
          <input [class.is-invalid]="myForm.controls['instagramlink'].invalid && myForm.controls['instagramlink'].touched" matInput type="url" placeholder="Instagram Link" formControlName="instagramlink">
          <span  *ngIf="!myForm.controls['instagramlink'].valid && myForm.controls['instagramlink'].touched">Instagram Link field can not be blank</span>
        </mat-form-field>
        <button mat-flat-button color="primary" class="updateit" [disabled]="isDisabled">Apply For Joqu </button> <!--disabled={{disval}}-->
      </form>
    </mat-card-content>
  </mat-card>

</app-main-nav>

<div style="width:100vw; height:100vh; display:table-cell; vertical-align:middle; text-align:center; position: fixed; top: 0; background: #000; z-index: 999" *ngIf="loaderdiv">
  <div style="width: 100vw; height: 100vh; display: table-cell; vertical-align: middle; ">

    <img src="assets/images/shaterblockLogo.png"  alt="#" style="margin:0 auto; display: block; margin-bottom:30px; max-width: 280px;"/>

    <div class="loader"></div>
  </div>

</div>


<ng-template #elseblock>Content to render when condition is false.</ng-template>
